

.swiper-container {
  /*width: 100%;*/
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}




#notebook-image {
  width: 100%;
  height:500px;

  //border: dotted #3996c0 thick;

  background-image: url("./Fotolia_107797505_L.jpg");
  background-size: 500px 333px;

  background-repeat: no-repeat;
  background-position-x: 0px;

}
#test {
  background-image: url("./ichartsImages/TestDataXY_Boxplot.png");
  background-repeat: no-repeat;
  background-size: 300px 200px;
  width:300px;
  height:200px;
}

#blog {

  width: 100%;
  height:500px;

  //border: dotted #3996c0 thick;

  background-image: url("./bw.png");
  background-size: 500px 333px;

  background-repeat: no-repeat;
  background-position-x: 0px;
}