.icharts {

  .page {
    padding: 30px;
  }

  .subpage {
    float: left;
    width: 60%;
  }

  .screenshot-image {
    width: 300px
  }
}

.events .date {
  font-weight: bold;
  margin: 10px;
}

.events .item {
  margin: 10px;
}

